*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Nunito",sans-serif;
    background-image: url(p1.jpg);
}
.headin{
    margin-top: 5px;
    background-color:  rgba(235, 252, 2, 0.637);
    height: 120px;
}
.logo{
    padding-top: 35px;  
    text-align: center;
    font-size: 50px;
    color: rgba(94, 7, 105, 0.993);
}

.input{
    text-align: center;
    margin: 100px 0;
}
input[type="text"]{
    height: 50px;
    text-align: center;
    width: 600px;
    background: #f7debf;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
input[type="submit"]{
    height: 40px;
    width: 160px;
    margin-left: 10px;
    background: #f3a42d;
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
}
.display1{
    margin-left: 30px;
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: rgba(39, 38, 38, 0.781);  
    clip-path: circle(68%);
}
        .date1{
            padding-top: 26px;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color:rgb(250, 25, 25);
            font-variant-caps: all-petite-caps;
        }
        .desc1{
            padding-top: 1px;
            text-align: center;
            font-size: 50px;
            font-style: bold;
            color:rgb(231, 179, 5);
            font-variant-caps: all-petite-caps;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .tmax1,.tmin1{
            margin-top: 10px;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            color:rgb(71, 228, 240);
            font-variant-caps: all-petite-caps;
        }
        .humid1{
            margin-top: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color:rgb(172, 24, 231);
            font-variant-caps: all-petite-caps;
        }
        


.display2{
    margin-left: 30px;
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: rgba(39, 38, 38, 0.781);  
    clip-path: circle(68%);
}

        .date2{
            padding-top: 26px;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color:rgb(250, 25, 25);
            font-variant-caps: all-petite-caps;
        }
        .desc2{
            padding-top: 2px;
            text-align: center;
            font-size: 50px;
            font-style: bold;
            color:rgb(231, 179, 5);
            font-variant-caps: all-petite-caps;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .tmax2,.tmin2{
            margin-top: 10px;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            color:rgb(71, 228, 240);
            font-variant-caps: all-petite-caps;
        }
        .humid2{
            margin-top: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color:rgb(172, 24, 231);
            font-variant-caps: all-petite-caps;
        }
        


.display3{
    margin-left: 30px;
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: rgba(39, 38, 38, 0.781);  
    clip-path: circle(68%);
}

        .date3{
            padding-top: 26px;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color:rgb(250, 25, 25);
            font-variant-caps: all-petite-caps;
        }

        .desc3{
            padding-top: 2px;
            text-align: center;
            font-size: 50px;
            font-style: bold;
            color:rgb(231, 179, 5);
            font-variant-caps: all-petite-caps;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .tmax3,.tmin3{
            margin-top: 10px;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            color:rgb(71, 228, 240);
            font-variant-caps: all-petite-caps;
        }
        .humid3{
            margin-top: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color:rgb(172, 24, 231);
            font-variant-caps: all-petite-caps;
        }
        


.display4{
    margin-left: 30px;
    height: 400px;
    width: 400px;
    text-align: center;
    background-color: rgba(39, 38, 38, 0.781);  
    clip-path: circle(68%);
}

        .date4{
            padding-top: 26px;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color:rgb(250, 25, 25);
            font-variant-caps: all-petite-caps;
        }
        .desc4{
            padding-top: 2px;
            text-align: center;
            font-size: 50px;
            font-style: bold;
            color:rgb(231, 179, 5);
            font-variant-caps: all-petite-caps;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .tmax4,.tmin4{
            margin-top: 10px;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            color:rgb(71, 228, 240);
            font-variant-caps: all-petite-caps;
        }
        .humid4{
            margin-top: 10px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color:rgb(172, 24, 231);
            font-variant-caps: all-petite-caps;
        }
        